<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}My Movie Library{% endblock %}</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-slate.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ui-darkness/jquery-ui-1.10.4.custom.min.css') }}">
        
        <!-- holderJS -->
        <script src="{{ url_for('static', filename='lib/holder.js') }}"></script>
    </head>
    <body>
        <div id="wrap" class="page">
            <div class="container">
                <!-- Begin the navbar -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ url_for('start') }}">My Movie Library</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="https://github.com/ndbills/MyMovieLibrary/" target="_blank">GitHub</a></li>
                            </ul>

                            {% block usernav %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a data-target="#login-form" data-toggle="modal" >Login</a></li>
                                    <li><a data-target="#signup-form" data-toggle="modal" >Sign-up</a></li>
                                </ul>
                            {% endblock %}
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav><!-- end navbar -->

                <div class="row">
                    {% block content %}{% endblock %}
                </div>

                <div id="push"></div>

            </div><!-- end container -->
        </div><!-- end page -->

        <!-- Begin the footer -->
        <div id="footer">
            <div class="container">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row text-muted">
                            <div class="col-lg-6 col-md-5 col-sm-12">
                                <p>&copy; 2014 by Brian Wood &amp; Nathan Bills</p>
                                <p>This work is licensed under the <a class="text-muted" href="http://www.apache.org/licenses/LICENSE-2.0">Apache License v2</a></p>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-12">
                                <a href="https://www.themoviedb.org/"><img src="https://d3a8mw37cqal2z.cloudfront.net/assets/619c6e3db1177d51/images/tmdb-logo.png" style="width:180px;"></a>
                            </div>
                            <div class="col-md-3 col-sm-12">
                                <p>The My Movie Library project uses the TMDb API but is not endorsed or certified by TMDb.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end footer -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ url_for('static', filename='lib/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='lib/jquery-ui-1.10.4.custom.min.js') }}"></script>

        {% block javascript %}
        {% endblock %}

        {% block modals %}
        {% endblock %}    
    </body>
</html>
