<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Movie Library</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-slate.min.css') }}">

        <!-- holderJS -->
        <script src="{{ url_for('static', filename='lib/holder.js') }}"></script>
    </head>
    <body>
        <div class="page">
            <div class="container">
                <!-- Begin the navbar -->
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{ url_for('start') }}">My Movie Library</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li><a href="https://github.com/ndbills/MyMovieLibrary/" target="_blank">GitHub</a></li>
                            </ul>

                            {% block usernav %}
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="{{ url_for('login') }}">Login</a></li>
                                    <li><a href="{{ url_for('signup') }}">Sign-up</a></li>
                                </ul>
                            {% endblock %}
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav><!-- end navbar -->

                <div class="row">
                    {% block content %}{% endblock %}
                </div>

                <div class="panel panel-default">
                        <div class="panel-body">
                            Open Source by Brian Wood & Nathan Bills, 2014
                        </div>
                    </div>
            </div>


            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="{{ url_for('static', filename='lib/bootstrap.min.js') }}"></script>


            <!--<h1>Flask MVC Boilerplate</h1>
            {#{% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
            {% macro render_error(field) %}
                {% if field.errors %}
                    {% for error in field.errors %}<span class='error'>{{ error }}</span>{% endfor %}
                {% endif %}
            {% endmacro %}
            {% block body %}{% endblock %}#}-->
        </div>
    </body>
</html>
