{% extends "usernav.html" if user else "index.html"%}
{% block content %}
	<div class="col-sm-12">
		<div class="jumbotron text-center">
			<h1>Welcome to 'My Movie Library'</h1>
			<p>Whether your movies are in the movie cabinet or loaned to a friend, this <em>easy-to-use</em> web application can help you track your ever-growing movie library.</p>
		</div>

		<div class="row text-center">
			<div class="col-sm-12 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Get Started, <small>it's fast, easy and free!</small></div>
					<div class="panel-body">
						<p>Once you have created an account, start making libraries and adding your movies to those libraries.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">On-loan, <small>keep track of that movie!</small></div>
					<div class="panel-body">
						<p>When you want your movie back, you can send an email asking for the movie to be returned.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">Open Source, <small>give back to the community!</small></div>
					<div class="panel-body">
						<p>This project is open source, so make suggestions, contribute or even fork our project on github!</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-sm-12 col-md-6 col-md-offset-3">
				<h3>Responsive Design</h3>
				<p>This web application was made to be responsive, so you can use this on any device!</p>
				<img id="homepage-responsive-image" src="{{ url_for('static', filename='images/responsive-web-design.png') }}" alt="Responsive Design">
			</div>
		</div>
	</div>
{% endblock %}

{% block modals %}
	{% include "home/login_modal.html" %}
	{% include "home/signup_modal.html" %}
{% endblock %}
