{% extends "usernav.html" if user else 'index.html'%}
{% block content %}
    <div class="col-sm-12">
        <div class="jumbotron">
            <h1>It's working!!!</h1>
            <p>Here, all of your wildest dreams can come true.</p>
            <p><a class="btn btn-primary btn-lg" role="button">The Demo</a></p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img data-src="holder.js/100%x200/sky" alt="...">
                    <div class="caption">
                        <h3>Awesome Sauce!</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="thumbnail">
                    <img data-src="holder.js/100%x200/vine" alt="...">
                    <div class="caption">
                        <h3>It is so cool!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block modals %}
    {% include "home/login_modal.html" %}
    {% include "home/signup_modal.html" %}
{% endblock %}
