{% extends "usernav.html" %}
{% block content %}
	<div class="col-sm-12">
		<h3>Movies Loaned Out</h3>
		<table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Movie</td>
                    <td>Borrower</td>
                    <td>Date Loaned</td>
                    <td>Due Date</td>
                    <td>Options</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>The Bourne Identity</p>
                    </td>
                    <td>
                        <!-- Maybe this can link to a modal that shows more information about the borrower??? -->
                        <p><a href="#">Brian Wood</a></p>
                    </td>
                    <td>
                        <p>Thur, April 17, 2014</p>
                    </td>
                    <td>
                    	<p>Thur, May 1, 2014</p>
                	</td>
                    <td>
                        <button class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-hand-down"></span> Return
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Frozen</p>
                    </td>
                    <td>
                        <!-- Maybe this can link to a modal that shows more information about the borrower??? -->
                        <p><a href="#">Grandma Bills</a></p>
                    </td>
                    <td>
                        <p>Sun, April 20, 2014</p>
                    </td>
                    <td>
                        <p>Sun, May 4, 2014</p>
                    </td>
                    <td>
                        <button class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-hand-down"></span> Return
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
	</div>
{% endblock %}